<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ca.hvsi.app"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="11" />

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="ca.hvsi.app.API"
		android:allowBackup="true"
		android:debuggable="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/name" android:theme="@style/Theme.VPI">
		<activity
			android:name="ca.hvsi.app.HvsIApp"
			android:label="@string/name" 
			android:theme="@style/Theme.VPI">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="ca.hvsi.app.LoginActivity"
			android:label="@string/pages_login_title"
			android:parentActivityName=".HvsIApp"
			android:windowSoftInputMode="adjustResize|stateVisible" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".HvsIApp" />
		</activity>
		<activity
			android:name="ca.hvsi.app.RegisterActivity"
			android:label="@string/pages_register_title"
			android:windowSoftInputMode="adjustResize|stateVisible" >
		</activity>
		<activity
			android:name="ca.hvsi.app.PostActivity"
			android:label="@string/pages_post_loading"
			android:parentActivityName="ca.hvsi.app.HvsIApp" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="ca.hvsi.app.HvsIApp" />
		</activity>
	</application>

</manifest>